body {
    margin: 0px;
    padding: 0px;
}

div.charanga_drum_widget {
    display: block;
    top: 0px;
    margin: 1px;
    max-width: 100%;
    max-height:300px;
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;
}
.download-element{
	
}
.shareLink {
    display: block;
    top: 0px;
    margin: 0px;
    font-family: sans-serif;
    max-width: 800px;
    min-width: 320px;
    font-family: sans-serif;
    position: relative;
    font-family: monospace;
    background-color: rgb(204, 204, 204);
    word-wrap: break-word;
}

.starterButton {
    width: 300px;
    height: 80px;
    position: absolute;
    top: 10px;
    line-height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    font-family: sans-serif;
    position: relative;
    font-family: monospace;
}

.starterButton:active {
    background-color: #FFB729;
    color: white;
}
